{% extends 'da.html.twig' %}
{% block content %}

<!-- header -->
<header>
	<div class="container">
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner_inner" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>

{% block title %}
  <h1 style="text-align: center; margin-bottom: 20px;">Loyalty Cards</h1>
{% endblock %}

<img src="{{ asset('img/loyalty-card.png') }}" alt="Loyalty Card Image" style="display: block; margin: 0 auto; margin-bottom: 20px; width: 150px; height: auto;">

    
<table class="table">
    <thead>
        <tr>
            <th>Idcarte</th>
            <th>Ptsfidelite</th>
            <th>Datedebut</th>
            <th>Datefin</th>
            <th>Etatcarte</th>
            <th>Niveaucarte</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cartefidelite in cartefidelites %}
            <tr>
                <td>{{ cartefidelite.idcarte }}</td>
                <td>{{ cartefidelite.ptsfidelite }}</td>
                <td>{{ cartefidelite.datedebut ? cartefidelite.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ cartefidelite.datefin ? cartefidelite.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ cartefidelite.etatcarte }}</td>
                <td>{{ cartefidelite.niveaucarte }}</td>
                <td>
                    <a href="{{ path('app_cartefidelite_show', {'idcarte': cartefidelite.idcarte}) }}">
                        <i class="fas fa-eye" title="Show"></i>
                    </a>
                    <a href="{{ path('app_cartefidelite_edit', {'idcarte': cartefidelite.idcarte}) }}">
                        <i class="fas fa-edit" title="Edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div style="text-align: center; margin-top: 200px;">
    <a href="{{ path('app_cartefidelite_new') }}" style="font-size: 24px;">Create new</a>
</div>

{% endblock %}
