<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90680653-2');
    </script>

    {% block title %}

    <title>complaints</title>

 {%  endblock %}


    {% block stylesheet %}

    <style>
            /* Add custom styles for the table */
            table {
                max-width: 80%; /* Set a maximum width for the table */
                margin: auto;   /* Center the table */
            }
        </style>

    {% include 'admin/inc/stylesheet.html.twig' %}

 {%  endblock %}
 {% block meta %}

 {% include 'admin/inc/meta.html.twig' %}

{%  endblock %}


    
  </head>
  <body>

    {% block header %}

    {% include 'admin/inc/header.html.twig' %}
   
   {%  endblock %}

  
   {% block content %}

{% block body %}
    <h1>List books</h1>

    <table class="table" border="2px">
        <thead>
            <tr>
                
                <th>User Name</th>
                <th>Compaint Target</th>
                <th>Date</th>
                <th>Message</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.UseName.nom }}</td>
                <td>{{ reclamation.CibleReclamation }}</td>
                <td>{{ reclamation.dateReclamation |date('F d, Y') }}</td>
                <td>{{ reclamation.TextReclamation  }}</td>
                <td>{{ reclamation.EtatReclamation  }}</td>
                <td>
                    <a href="{{ path('reclamation_mark', {'id': reclamation.id}) }}">Mark as read /</a>        
                    <a href="drachnowa.twig">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}




  
  {%  endblock %}
  {% block footer %}

    {% include 'admin/inc/footer.html.twig' %}
   
   {%  endblock %}


   
   {% block script %}

   {% include 'admin/inc/script.html.twig' %}
  
  {%  endblock %}

  </body>
</html>
