{% extends 'base.html.twig' %}



{% block body %}  
    

    

    
    <!-- Contact -->
    
        <div class="container py-lg-5 py-sm-3">
           
            <form action="{{path('app_translate3', {'id': rec.id}) }}" method="post">
                     
                <div class="container-header">
                
                     <select name="left-lang" id="leftLang" class="left-lang" >
                               
                               {% for left in leftLang %}
                                    <option value="{{left.name}}">{{left.name}}</option>
                               {% endfor %}
                               
                              
                          
                     </select>
 
                     
                
                     <img src="{{asset('/image/switch.png')}}" alt="switch" class="arrow-switch" id="switch" onclick="onSwitch()">
                     
                     <select name="right-lang" id="rightLang" class="right-lang" >
                         
                               {% for right in rightLang %}
                                    <option value="{{right.name}}">{{right.name}}</option>
                               {% endfor %}
                               
                          
                     </select>
 
                
                </div>
 
                <div class="container-text">
 
                
                      {% if text_to_translate is empty %}
                           <textarea name="textsend"  cols="30" rows="10" class="textleft" >{{rec.TextReclamation}}</textarea>
                      {% else %}
                           <textarea name="textsend"  cols="30" rows="10" class="textleft" id="textToTranslate" >{{text_to_translate}}</textarea>
                      {% endif %}
                   
                     <img src="{{asset('/image/line.png')}}" alt="line" class="separator">
 
                     {% if text_translated is empty %}
                          <textarea name="textranslated"  cols="30" rows="10" class="textright"></textarea>
                     {% else %}
                          <textarea name="textranslated"  cols="30" rows="10" class="textright" id='textTranslated'>{{text_translated}}</textarea>
                     {% endif %}
                         
                     
                     
                      <button type="submit" class="btn">
                          <span>Translate</span>
                      </button>
 
                
                
 
                </div>
 
           </form>
           <br></br>
           <br></br>
           <br></br> 
            
        </div>
        <br></br>
    <br></br>
    <br></br>
  
    
        </div>
   
    <!-- //Contact -->
    
    <script>
        function onSwitch()
        {
            var leftLang=document.getElementById('leftLang').value

            var rightLang= document.getElementById('rightLang').value

            var textTranslated=document.getElementById('textTranslated')


            if(textTranslated === null)
            {
                document.getElementById('leftLang').value=rightLang

                document.getElementById('rightLang').value=leftLang
            }
            else
            {
                var textTranslated=document.getElementById('textTranslated').value

                fetch('https://127.0.0.1:8000/switch',{
                     method:'POST',
                     headers:{'content-type':'application/json'},
                     body:JSON.stringify({
                          'leftLang':rightLang,
                          'rightLang':leftLang,
                          'text_to_translate':textTranslated
                     }),
                })

                .then((res)=>res.json())
                .then((data)=>{
                    
                     document.getElementById('leftLang').value=rightLang

                    document.getElementById('rightLang').value=leftLang

                    document.getElementById('textToTranslate').value=textTranslated

                    document.getElementById('textTranslated').value=data.text_translated
               
                })
                .catch((err)=>console.log(err))
            }


        }
 </script>
 <style>
   
     .container-header {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid black;
          width: 321px;
          height: 31px;
          text-align: center;
          border-radius: 6px;
          margin: 20px auto;
        }
        
        .left-lang,
        .right-lang {
          width: 120px;
          height: 100%;
          font-family: 'Darker Grotesque';
          font-weight: 700;
          font-size: 14px;
          line-height: 27px;
          border: none;
          background-color: transparent;
          resize: none;
          outline: none;
        }
        
        .arrow-switch {
          width: 30px;
          color: #bbb;
          border: 1px solid;
          cursor: pointer;
        }
        
        .container-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 20px;
          width: 80%;
          background: cornflowerblue;
          border-radius: 10px;
          margin: 0 auto;
        }
        
        .textleft,
        .textright {
          width: 50%;
          height: 226px;
          font-family: 'Darker Grotesque';
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          color: #FFFFFF;
          background: #FFFFFF;
          border: none;
          background-color: transparent;
          resize: none;
          outline: none;
          margin: 0 10px;
        }
        
        .separator {
          width: 2px;
          height: 80%;
          border: 1px solid #000000;
          transform: rotate(90deg);
        }
        
        .btn {
          width: 128px;
          height: 47px;
          background: skyblue;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          cursor: pointer;
          border-radius: 12px;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
        
    
 </style>
 {% endblock %} 