{% extends 'da.html.twig' %}   

{% block title %}New Offrespecialevenment{% endblock %}

{%block content%}
{{ form_start(form) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.dateDepart) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.guideId) }}
    {{ form_row(form.destination) }}
    {{ form_row(form.image) }}
    {{ form_row(form.niveau) }}

    <button type="submit">Save</button>

{{ form_end(form) }}
    <a href="{{ path('app_offrespecialevenment_index') }}">back to list</a>
{% endblock %}
