{% extends 'admin/base.html.twig' %}
{% block title %}

<title>dashboard</title>
{%  endblock %}

{% block content %}

<div align="center">




                            {{ form_start(f)}}
                               
                               
                              {{ form_label(f.nom)}}
                              {{ form_widget(f.nom)}}
                              
                              {{ form_label(f.prixUnitaire)}}

                              {{ form_widget(f.prixUnitaire)}}
                               
                           
                               {{ form_label(f.stock)}}

                              {{ form_widget(f.stock)}}
                               
                               {{ form_label(f.image)}}

                               {{ form_widget(f.image)}}
                             
                                {{ form_widget(f.add)}}
                              
                                
                                {{ form_end(f)}}
                                <br></br>
                   <div>
 {% for flashMessage in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>              
    <table class="table" border="2px">
        <thead>
            <tr>
                <th>nom</th>
                <th>prix</th>
                <th>stock</th>
                <th>image</th>
                <th>action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prixunitaire }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.image }}</td>
                <td><a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a></td>
                <td><a href="{{ path('produit_delete', {'id': produit.id}) }}">delete</a></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no product found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
    
</div>

{%  endblock %}