{%extends 'base.html.twig' %}  
 
{%block content %}    
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyalty Card Details</title>
    <!-- Add your stylesheets or any additional head elements here -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1, h2 {
            color: #3498db;
        }

        section {
            background-color: #fff;
            margin: 20px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 50px;
        }

    </style>
</head>

<body>

    <h1 style="text-align: center;">Loyalty Card</h1>

    <section>
        <ul>
            <li><h2 style="text-align: center;"> Hello {{user.nom }}</h2></li>   
            <li><h3 style="text-align: center;"> We hope you doing Fine,</h3></li>  



        </ul>
    </section>

    <div style="text-align: center; margin-top: 50px;">
        <h1 style="margin-bottom: 20px;">Loyalty Card Information</h1>
        <ul>
            <li><h3>Points Fidélité: {{ cartefidelite.ptsfidelite }}</h3></li>
            <li><h3>Date Debut: {{ cartefidelite.datedebut|date('Y-m-d') }}</h3></li>
            <li><h3>Date Fin: {{ cartefidelite.datefin|date('Y-m-d') }}</h3></li>
            <li><h3>Etat Carte: <span style="color: {{ cartefidelite.etatcarte == 'Active' ? 'red' : 'green' }};">{{ cartefidelite.etatcarte }}</span></h3></li>
            <li><h4>Niveau Carte: </h4>
                {% set niveauCarte = cartefidelite.niveaucarte %}
                {% if niveauCarte == 'bronze' %}
                <img src="{{ asset('img/bronze (2).png') }}" alt="Bronze">
                {% elseif niveauCarte == 'silver' %}
                    <img src="{{ asset('img/silver.png') }}" alt="Silver">
                {% elseif niveauCarte == 'gold' %}
                    <img src="{{ asset('img/gold.png') }}" alt="Gold"> 
                {% endif %}
        </ul>  
        {% if cartefidelite.ptsfidelite >= 1000 %} 
        <h4> you can upgrade now </h4>

        <button style="background-color: green; color: white; padding: 10px 20px; font-size: 16px; margin-top: 20px;">Upgrade</button>
        {% endif %}
    </div>
            
    <!-- You can add more sections or customize the layout based on your requirements -->

    <!-- Add your scripts or any additional body elements here -->

</body>

</html> 
{%endblock%}


